/*---------------
      RESET 
---------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*---------------
      GENERAL 
---------------*/

body {
  font-family: "Montserrat", serif;
  color: #000;
  background-color: #f6aa63;
  font-family: "Montserrat", serif;
  height: 100vh;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

/*---------------
     HEADER
---------------*/
.nav {
  background-color: #ad4a26;
  display: flex;
  padding: 1.25rem;
  justify-content: end;
  gap: 0.9375rem;
  border-bottom: 2px solid #ab3115;
}
.nav ul {
  display: flex;
}

.nav li {
  list-style: none;
  padding: 0.625rem;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

.nav a.active {
  border-bottom: 0.1875rem solid #ab3115;
  padding-bottom: 0.4375rem;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 40%;
}

.nav .searchbar {
  border: 0.125rem solid #ab3115;
  border-radius: 0.9375rem;
  text-indent: 0.5rem;
}

/*---------------
  RECIPES MAIN
---------------*/
.recipeList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.25rem;
  border: 2px solid #cc6a08;
  border-radius: 0.125rem;
  padding: 1.875rem;
  background-image: url(../bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.recipe {
  background-color: #f6aa63;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  min-width: 50%;
  margin-bottom: 0.625rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ad4a26;
}

.recipe-title h2 {
  text-decoration: none;
  color: black;
}

.recipe-content {
  background-image: url(/paperbj.jpg);
  padding: 0.3125rem 0.625rem;
  border-radius: 0.3125rem;
  width: 50%;
  font-style: oblique;
  display: flex;
  gap: 5px;
  flex-direction: column;
  line-height: 1.48;
  margin-bottom: 0.625rem;
}

.recipe-image img {
  width: 80%;
  border-radius: 12rem;
  border: 2px solid #ad4a26;
  display: flex;
  justify-self: center;
}

.recipe-tags {
  color: #ab3115;
}

/*---------------
    FORM
---------------*/
.recipe button {
  border: none;
  background-color: #f2f7fb;
  width: 10%;
  cursor: pointer;
}

form input {
  padding: 0.3125rem 0.4375rem;
  margin-right: 0.25rem;
}

form button {
  margin-top: 0.625rem;
  padding: 0.3125rem 0.4375rem;
  border: 2px solid #ad4a26;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 2px solid #ad4a26;
  padding: 1.25rem;
  border-radius: 0.3125rem;
  background-color: #f6aa63;
}
form label {
  text-align: center;
}
#content {
  width: 100%;
  min-height: 100px;
  resize: vertical;
  font-size: inherit;
  padding: 0.3125rem;
}

/*---------------
      ALERT
---------------*/

.alert-info {
  background-color: rgb(21, 106, 159);
  color: white;
  padding: 0.5rem;
}

.alert-added {
  background-color: rgba(5, 63, 5, 0.996);
  color: white;
  padding: 0.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alert-deleted {
  background-color: rgb(153, 19, 19);
  color: white;
  padding: 0.5rem;
  position: fixed; /* `fixed` funziona meglio per il centro della viewport */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.closeBtn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin-left: 0.5rem;
}
